<%- include('header') -%>

<div class="creditContent">
    <h2>Resources that i have used:</h2>
    <p>www.freepik.com, Designed by pch.vector / Freepik</p>
    <p><a href="https://storyset.com/outdoors">Outdoors illustrations by Storyset</a></p>

</div>

<%- include('footer') -%>