</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $('#menu').click(function () {
        $('.links-list').toggleClass('toggle-ul');
        $('li').toggleClass('toggle-li');
    });
</script>
</body>

</html>