<%- include('header'); -%>
    <div class="homeContent">
        <form action="/" method="post">
            <input type="text" name="location" id="" placeholder="Enter City Name" autocomplete="off">
            <button value="submit">Check</button>

            <div class="bgImg">
                
            </div>

        </form>
    </div>

    <%- include('footer'); -%>